/* .flex-container {
    height: 300px;
    width: 400px;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

.flex-container div {
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: #fff;
    margin: 5px;
}

.flex-item-1 {
    flex-grow: 2;
}

.flex-item-2 {
    flex-grow: 2;
}

.flex-item-3 {
    flex-grow: 6;
} */

.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
  }
  
  .flex-container > div {
    background-color: DodgerBlue;
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

